<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название</label><br>
            <input type="text" name="name" value="{{place.name}}" />
        </p>
        <p>
            <label>Введите название страны</label><br>
            <input type="text" name="country" value="{{place.country}}" />
        </p>
        <p>
            <label>Введите название города</label><br>
            <input type="text" name="city" value="{{place.city}}" />
        </p>
        <p>
            <label>Введите адрес</label><br>
            <input type="text" name="address" value="{{place.address}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>