.places {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  width: 992px;
  list-style-type: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 310px;
  text-align: center;
}