{% extends '../base.html' %}
{% load static %}

{% block title %}Add place to wishlist | ToGo{% endblock %}

{% block extra_css %}
  <link href="{% static '../static/css/listofplaces/create_listofplaces.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="create">
        <h1 class="create__title">Создать список мест</h1>
        <form class="create__form" method="post">
            {% csrf_token %}        
            <label class="create__label" for="placemodel">Выберите место:</label>
            <select class="create__place" name="placemodel" id="placemodel">
                {% for place in places %}
                    <option value="{{ place.pk }}">{{ place.name }} ({{ place.city }}, {{ place.country }})</option>
                {% endfor %}
            </select><br><br>

            <label class="create__status" for="status">Был:</label>
            <input class="create__status--checkbox" type="checkbox" name="status" id="status"><br><br>

            <button class="create__button" type="submit">Создать</button>
        </form>
    </div>
{% endblock %}

