% extends '../base.html' %}

{% block title %}Вход | ToGo{% endblock %}

{% block content %}
    <div>
        <h1>Создать список мест</h1>
        <form method="post">
            {% csrf_token %}        
            <label for="placemodel">Выберите место:</label>
            <select name="placemodel" id="placemodel">
                {% for place in places %}
                    <option value="{{ place.pk }}">{{ place.name }} ({{ place.city }}, {{ place.country }})</option>
                {% endfor %}
            </select><br><br>

            <label for="status">Был:</label>
            <input type="checkbox" name="status" id="status"><br><br>

            <button type="submit">Создать</button>
        </form>
    </div>
{% endblock %}

