{% extends '../base.html' %}
{% load static %}

{% block title %}Wishlist | ToGo{% endblock %}

{% block extra_css %}
  <link href="{% static '../static/css/listofplaces/listofplaces.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="listofplaces">
        <h1 class="listofplaces__title title">Список мест, которые пользователь хотел бы посетить:</h1>
        <div class="listofplaces__links">
            <a class="listofplaces__link" href="{% url 'create_listofplaces' %}">Выбрать еще одно место</a>
            <a class="listofplaces__link" href="{% url 'info_about_user' user.id%}">Назад</a>
        </div>
        {% for place in user_listofplaces %}
            <h2 class="listofplaces__name">Название: {{ place.place_name }} </h2>
            {% if place.status %}
                Был
                <span class="listofplaces__date">{{ place.date }}</span>
            {% else %}
                Не был
            {% endif %}
            
            <div class="listofplaces__edit">
                <a class="listofplaces__update" href="{% url 'update_listofplaces' place.id%}">Изменить статус</a>
                <a class="listofplaces__delete" href="#" id="delete-link{{ place.id }}" data-listofplace-id="{{ place.id }}">Удалить</a>
            </div> 
        {% endfor %}   
    </div>
    <script>
        document.getElementById('delete-link{{ place.id }}').addEventListener('click', function(e) {
            e.preventDefault();
            const listofplaceId = this.getAttribute('data-listofplace-id');
                        
            if (confirm('Вы точно хотите удалить {{ place.id }} место?')) {
                fetch(`/listofplaces/{{ place.id }}/delete/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    window.location.href = '/listofplaces/';
                })   
            }    
        });
    </script>
{% endblock %}