{% extends '../base.html' %}
{% load static %}

{% block title %}Вход | ToGo{% endblock %}

{% block extra_css %}
  <link href="{% static '../static/css/auth/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  {% if error %}
    <script>
        alert('{{ error }}');
        // Или более красивое уведомление с использованием Toastr/Alertify и т.д.
    </script>
  {% endif %}
  
  <div class="login">
    <h2 class="login__title">Вход</h2>

    <form class="login__fields" method="post">
      {% csrf_token %}
      <input class="login__field" type="text" name="username" placeholder="Логин" required>
      <input class="login__field" type="password" name="password" placeholder="Пароль" required>
      <button class="login__button" type="submit">Войти</button>
    </form>

    <div class="login__redirect">
      Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a>
    </div>
  </div>
{% endblock %}

