{% extends '../base.html' %}
{% load static %}

{% block title %}Смена пароля | ToGo{% endblock %}

{% block extra_css %}
  <link href="{% static '../static/css/auth/password_change.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="password-change">
        <h1 class="password-change__title">Смена пароля</h1>
        <p class="password-change__user">Пользователь: {{ user.username }}</p>

        {% if errors %}
            <div class="error-message">
                {% for field, error_list in errors.items %}
                    {% for error in error_list %}
                        <p>{{ field }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <form class="password-change__form" method="post">
            {% csrf_token %}
            
            <div class="password-change__form-group">
                <label class="password-change__form-group--title" for="old_password">Текущий пароль:</label>
                <input class="password-change__form-group--input" type="password" id="old_password" name="old_password" required>
            </div>
            
            <div class="password-change__form-group">
                <label class="password-change__form-group--title" for="new_password">Новый пароль:</label>
                <input class="password-change__form-group--input" type="password" id="new_password" name="new_password" required>
            </div>
            
            <div class="password-change__form-group">
                <label class="password-change__form-group--title" for="new_password_confirm">Подтвердите новый пароль:</label>
                <input class="password-change__form-group--input" type="password" id="new_password_confirm" name="new_password_confirm" required>
            </div>
            
            <button class="password-change__button" type="submit">Сменить пароль</button>
        </form>
    </div>
{% endblock %}