<!DOCTYPE html>
<html>
<head>
    <title>Создать отзыв</title>
</head>
<body>
    <h1>Создать отзыв</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">ID пользователя:</label>
        <input type="number" id="username" name="username" required><br><br>
        
        <label for="placemodel">Выберите место:</label>
        <select name="placemodel" id="placemodel" required>
            {% for place in places %}
                <option value="{{ place.pk }}">{{ place.name }} </option>
            {% endfor %}
        </select><br><br>

        <label for="rating">Оценка (1-5):</label>
        <input type="number" 
               name="rating" 
               id="rating" 
               min="1" 
               max="5" 
               required
               oninput="this.value = Math.max(1, Math.min(5, parseInt(this.value) || 1))"><br><br>

        <label for="feedback_text">Отзыв:</label>
        <textarea name="feedback_text" id="feedback_text" rows="4" cols="50"></textarea><br><br>

        <button type="submit">Создать</button>
    </form>
</body>
</html>