<!DOCTYPE html>
<html>
<head>
    <title>List of places</title>
    <meta charset="utf-8" />
    <style>
        .header {
            display: block;
            margin: 0 auto 32px;
        }
    </style>
</head>
<body>
    <h1 class="header">Список мест, которые пользователь хотел бы посетить:</h1>
    <a href="{% url 'create_list' %}">Выбрать еще одно место</a>
    <a href="{% url 'info_about_user' user_id %}">Назад</a>
    {% for place in info %}
        <h2>Название: {{ place.name }} </h2>
        {% if place.status %}
            Был
        {% else %}
            Не был
        {% endif %}
        <a href="{% url 'update_list' place.list_id %}">Изменить статус</a>
        <a href="{% url 'delete_list' place.list_id %}">Удалить</a>
        <hr>
    {% endfor %}
</body>
</html>