<!DOCTYPE html>
<html>
<head>
    <title>Information about place</title>
    <meta charset="utf-8" />
</head>
<body>
    <h3>Название: {{ place.name }} </h3>
    <h3>Страна: {{ place.country }} </h3>
    <h3>Город: {{ place.city }} </h3>
    <h3>Адрес: {{ place.address }} </h3>
    <a href="{% url 'feedbacks_of_place' place.place_id %}">Отзывы об этом месте</a>
    <a href="{% url 'update_place' place.place_id %}">Редактировать</a>
    <a href="{% url 'delete_place' place.place_id %}">Удалить</a>
    <a href="{% url 'all_places' %}">Назад</a>
</body>
</html>