<!DOCTYPE html>
<html>
<head>
    <title>Places</title>
    <meta charset="utf-8" />
    <style>
        .header {
            display: block;
            margin: 0 auto 32px;
        }
    </style>
</head>
<body>
    <h1 class="header">Список мест:</h1>
    {% for place in places %}
        <h2>Название: {{ place.name }} </h2>
        <span><b>Страна:</b> {{ place.country }} </span><br>
        <span><b>Город:</b> {{ place.city }} </span><br>
        <span><b>Адрес:</b> {{ place.address }} </span><br>
        <hr>
    {% endfor %}
</body>
</html>