{% extends '../base.html' %}
{% load static %}

{% block title %}Update uesr | ToGo{% endblock %}

{% block extra_css %}
  <link href="{% static '../static/css/user/update_user.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="update">
        <form class="update__form" method="POST">
            {% csrf_token %}
            <p class="update__field">
                <label class="update__field--name">Введите имя</label><br>
                <input class="update__field--input" type="text" name="username" value="{{user.username}}" />
            </p>
            <p class="update__field">
                <label class="update__field--name">Введите возраст</label><br>
                <input class="update__field--input" type="number" name="age" value="{{user.age}}" />
            </p>
            <p class="update__field">
                <label class="update__field--name">Введите email</label><br>
                <input class="update__field--input" type="text" name="email" value="{{user.email}}" />
            </p>
            <input class="update__submit" type="submit" value="Сохранить" >
        </form>
    </div>
{% endblock %}