{% extends '../base.html' %}
{% load static %}

{% block title %}User | ToGo{% endblock %}

{% block extra_css %}
  <link href="{% static '../static/css/user/user.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="user">
        <h3 class="user__name">Имя: {{ user.username }} </h3>
        <h3 class="user__age">Возраст: {{ user.age }} </h3>
        <div class="user__links">
            <a class="user__link" href="{% url 'update_user' user.id %}">Редактировать</a>
            <a class="user__link" href="#" id="delete-link" data-user-id="{{ user.id }}">Удалить</a>
            <a class="user__link" href="{% url 'listofplaces'%}">Список мест</a>
            <a class="user__link" href="{% url 'all_places' %}">Назад</a>
        </div>   
    </div>

    <script>
            document.getElementById('delete-link').addEventListener('click', function(e) {
                e.preventDefault();
                const userId = this.getAttribute('data-user-id');
                
                if (confirm('Вы точно хотите удалить этого пользователя?')) {
                    fetch(`/users/${userId}/delete/`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        window.location.href = '/users/';
                    })   
                }
                
            });
        </script>
{% endblock %}